<div class="navbar navbar-dark bg-secondary" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvWGjpdaEchlLXRWFFWLF8skIQTsrDyT8HEcMA3DOxZQDXO4tM&s); background-repeat: no-repeat; background-size:cover;" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <ul>
            <a style="text-align: center; color: orange;" class="navbar-brand" href="/"> Home </a>
            <a style="text-align: center; " class="navbar-brand bg-primary" href="/blog/new">Post a blog</a>
            </ul>
        </div>
  
        <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
          <li style="color:orange">{{current_user.username }}</li><br>
          <li>{{current_user.bio}}</li>
         
          <!-- avatar or photo cover -->
          <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
          <li><a style="color: yellow;"  href="{{url_for('auth.logout')}}">Sign out</a></li>
          {% else %}
          <a id="start"  class="btn btn-primary" href="{{url_for('auth.register')}}">Sign up</a>

          <a id="start" class="btn btn-danger animated infinite flash" href="{{url_for('auth.login')}}">Login</a>
          {%endif%}
        </ul>
      </div>
  
  
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li style="color:yellow"></li>
            <li><a style="color: orange;"  href="{{url_for('auth.logout')}}"></a></li>
            <li><a style="color: yellow;" href="{{url_for('auth.login')}}"></a></li>
          </ul>
        </div>

  </div>
  </div>